.form-group  {
    display: inline-block;
    width: 300px;
    margin: 10px auto;
}

p {
    text-align: justify;
}

h1 {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: hsl(180, 100%, 25%);
}

/* Quotes */

blockquote {
    margin: 0;
    color: #151b29;
  }
  
  blockquote {
    padding: 15px;
    background: hsl(210, 17%, 98%, 0.9);
    border-radius: 5px;
    box-shadow: 10px 5px 5px hsl(180, 100%, 25%, 0.2);
  }
  
  blockquote::before {
    content: '\201C';
  }
  
  blockquote::after {
    content: '\201D';
}

/* Images */

figcaption {
    text-align: center;
}

img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.evaluate {
    height: 40px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}

#accordion .card{
    background-color: #151b29;

}

#accordion .collapse {
    background-color: hsl(180, 100%, 25%, 0.60);
}

#accordion .btn {
    text-decoration: none;
    background-color: hsl(180, 100%, 25%, 0.60);
    font-weight: 700;
    color: hsla(0, 0%, 98%, 0.85);
}

.btn {
    background-color: hsl(180, 100%, 25%, 0.60);
    border-color: hsl(180, 100%, 25%, 0.60);
}

