.form-group  {
    display: inline-block;
    width: 300px;
    margin: 10px auto;
}



.evaluate {
    height: 40px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}

#accordion .card{
    background-color: #151b29;

}

#accordion .collapse {
    background-color: hsl(180, 100%, 25%, 0.60);
}

#accordion .btn {
    text-decoration: none;
    background-color: hsl(180, 100%, 25%, 0.60);
    font-weight: 700;
    color: hsla(0, 0%, 98%, 0.85);
}

