/* nav */

nav {
    /* display:-webkit-flex;
    display:-ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: right; */
    text-align: right;
    text-transform: uppercase;
    height: 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;

}

.about a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;

}

.about a:hover {
    color: #e9c46a;
    font-size: 1.05em;
}

/* Image section */

.avatar {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}



.photo img {
    width: 200px;
    margin: 0 auto;
    display: block;
    border: 4px solid hsl(180, 100%, 25%, 0.60);
    border-radius: 50%;
    transition: 0.2s;
}



/* appear text on hover */

.avatar .avatar-prompt {
    display: none;
    position: absolute;
    vertical-align: middle;
    padding: 5px;
    border-radius: 5px;
    background-color: hsl(180, 100%, 25%, 0.10);
    margin-left: 290px;
    margin-top: 80px;
    font-size: 0.82em;
    text-align: center;
}

img:hover {
    border: 5px solid teal;
    box-shadow: 0 0 15px 1px teal;
    transform: translateY(-0.15em);
}

a:hover + .avatar-prompt {
    display: block;
    /* margin-left: 235px; */

}

main {
    max-width: 500px;
    margin: 50px auto;
}

.blog-list {
    text-transform: capitalize;
}

h2 {
    margin: 20px auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}


/* sliding photos */

.readings {
    margin: 50px auto;
    max-width: 500px;
    height: 300px;
}

.books {
    overflow: auto;
    white-space: nowrap;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; */
}

.books a {
    margin: 6px 6px;
}

.books a img {

    width: auto;
    max-height: 180px;
}