{% extends "layout.html" %}
{% block content %}
<!-- back button -->


<div class="arrow"> <a href="/home">
        < </a>
</div>

<div class="container">
    <!-- name -->
    <section class="top">
        <div class="me">
            <h1 class="name">Hi, I'm Massimiliano Gargano</h1>
            <div class="social-logos">
                <div class="social"><a href="https://github.com/massigarg"><img
                            src="{{url_for('static', filename='img/github.png')}}" alt=""></a>
                </div>

                <div class="social"><a href="https://www.linkedin.com/in/massimiliano-gargano/?locale=en_US"><img
                            src="{{url_for('static', filename='img/linkedin.png')}}" alt=""></a>
                </div>

                <div class="social"><a href="mailto:mas.gargano@gmail.com"><img
                            src="{{url_for('static', filename='img/mail.png')}}" alt=""></a>
                </div>

            </div>

        </div>


        <div class="photo">
            <a href="/home" class="avatar">
                <img src="{{url_for('static', filename='img/me_3.jpg')}}" alt="This is me">
            </a>
        </div>
    </section>



    <!-- presentation -->
    <section class="cv">
        <p>
            <em><strong>I am a Data Scientist. Born in Italy, living in
                    Madrid.</strong></em>
        </p>

        <p>
            Passionate about leveraging data to make efficient decisions. I am an avid learner, pushing myself everyday
            to learn new things: from tech, economy and finance to
            politics and photography.
        </p>

        <figure>
            <blockquote cite="">
                <p><em><strong>
                            You
                            don't
                            choose your passions; your passions choose you.<strong></em></p>
            </blockquote>
            <figcaption><cite>— Jeff Bezos</cite></figcaption>
        </figure>

    </section>

    <script src="https://gist.github.com/massigarg/e425c417ee307c5505eb4679969f40b5.js"></script>
    <!-- projects -->
    <div>
        <h1 class="my-projects">Projects</h1>
        <section class="projects">

            <div class="card">
                <a href="https://nyt-sentiment.herokuapp.com/">
                    <img alt="" src="{{url_for('static', filename='img/nyt_news.jpg')}}" id="card-image">
                </a>

                <div class="card-title">new yor times Sentiment Web-App</div>
                <div class="tag-wrap">
                    <div class="tag" id="nlp">nlp</div>
                    <div class="tag" id="sql">sql</div>
                </div>
                <div class="card-description">Headlines sentiment scores filtered by geographic subsection using
                    Streamlit as framework</div>
            </div>


            <div class="card">
                <img alt="" src="{{url_for('static', filename='img/news.jpg')}}" id="card-image">
                <div class="card-title">New York Times news analysis</div>
                <div class="tag-wrap">
                    <div class="tag" id="nlp">nlp</div>
                    <div class="tag" id="time-series">time series</div>
                </div>
                <div class="card-description">Exploring NYT world news over 1 year time span</div>
            </div>

            <div class="card">
                <a href="https://github.com/massigarg/disaster-tweet">
                    <img alt="" src="{{url_for('static', filename='img/tweet.jpg')}}" id="card-image">
                </a>

                <div class="card-title">Disaster Tweets</div>
                <div class="tag-wrap">
                    <div class="tag" id="nlp">nlp</div>
                    <div class="tag" id="ml">ml</div>
                    <div class="tag" id="classification">classification</div>
                </div>
                <div class="card-description">Prediction of which Tweets are about real disasters and which ones are not
                    using
                    NLP and Logistic Regression</div>
            </div>

            <div class="card">
                <a href="https://github.com/massigarg/portfolio">
                    <img alt="" src="{{url_for('static', filename='img/data_analysis.jpg')}}" id="card-image">
                </a>

                <div class="card-title">Nested cross validation from scratch</div>
                <div class="tag-wrap">
                    <div class="tag" id="ml">ml</div>
                    <div class="tag" id="python">python</div>
                    <div class="tag" id="regression">regression</div>
                </div>

                <div class="card-description">Grid Search cross validation with Python</div>

            </div>

            <div class="card">
                <img alt="" src="{{url_for('static', filename='img/coding_image.jpg')}}" id="card-image">
                <div class="card-title">Portfolio building </div>
                <div class="tag-wrap">
                    <div class="tag" id="html">html</div>
                    <div class="tag" id="css">css</div>
                    <div class="tag" id="flask">flask</div>
                </div>

                <div class="card-description">Personal portfolio from ground up using Flask, Python, CSS and HTML</div>
            </div>

            <div class="card">
                <a href="https://github.com/massigarg/Product-Categorisation">
                    <img alt="" src="{{url_for('static', filename='img/category.jpg')}}" id="card-image">
                </a>

                <div class="card-title">Product categorization with machine learning</div>
                <div class="tag-wrap">
                    <div class="tag" id="nlp">nlp</div>
                    <div class="tag" id="ml">ml</div>
                    <div class="tag" id="classification">classification</div>
                </div>
                <div class="card-description">Multilevel product categorization using NLP and Machine Learning</div>
            </div>

            <div class="card">
                <img alt="" src="{{url_for('static', filename='img/map.jpg')}}" id="card-image">
                <div class="card-title">MaPy</div>
                <div class="tag-wrap">
                    <div class="tag" id="python">python</div>
                </div>
                <div class="card-description">A Python script that creates a map from your photos</div>
            </div>

    </div>

    </section>



    <!-- timeline -->
    <h1 class="path">Path</h1>

    <div class="timeline">
        <div class="cont left">
            <div class="content">
                <h2>2021</h2>
                <p class="path-title">University of London</p>
                <p>Postgraduate Diploma, Data Science and Artificial Intelligence</p>
                <p class="path-title">People Cert</p>
                <p>PRINCE2® Practitioner & Foundation Certificate in Project Management</p>

            </div>
        </div>
        <div class="cont right">
            <div class="content">
                <h2>2020</h2>
                <p class="path-title">NPSG Europe</p>
                <p>Senior Site Manager - Germany (8m), Spain (1m), Italy (6m)</p>
                <p class="path-title">MIT</p>
                <p>6.00.1x: Introduction to Computer Science and Programming Using Python</p>

            </div>
        </div>
        <div class="cont left">
            <div class="content">
                <h2>2019</h2>
                <p class="path-title">University of Naples Federico II</p>
                <p>MSc Mechanical Engineering for Design and Production</p>
            </div>
        </div>
        <div class="cont right">
            <div class="content">
                <h2>2018</h2>
                <p class="path-title">Italian Institute of Welding (IIS)</p>
                <p>International Welding Engineer (IWE)</p>
            </div>
        </div>
        <div class="cont left">
            <div class="content">
                <h2>2015</h2>
                <p class="path-title">University of Naples Federico II</p>
                <p>BSc Mechanical Engineering</p>
            </div>
        </div>
    </div>

    <!-- skillbars -->

    <h1 class="my-skills">Skills</h1>

    <div class="skill-wrapper">
        <div class="skill-bar col-1">
            <h2>Programming Languages</h2>

            <p class="skill-title">Python</p>
            <div class="bar">
                <div class="skills python"></div>
            </div>

            <p class="skill-title">sql</p>
            <div class="bar">
                <div class="skills sql"></div>
            </div>

            <p class="skill-title">Flask</p>
            <div class="bar">
                <div class="skills flask"></div>
            </div>

            <p class="skill-title">HTML</p>
            <div class="bar">
                <div class="skills html"></div>
            </div>

            <p class="skill-title">CSS</p>
            <div class="bar">
                <div class="skills css"></div>
            </div>
        </div>

        <div class="skill-bar col-2">
            <h2>Data Science</h2>

            <p class="skill-title">Web Scraping</p>
            <div class="bar">
                <div class="skills scraping"></div>
            </div>

            <p class="skill-title">Nlp</p>
            <div class="bar">
                <div class="skills nlp"></div>
            </div>

            <p class="skill-title">Machine Learning</p>
            <div class="bar">
                <div class="skills ml"></div>
            </div>

            <p class="skill-title">Data Visualization</p>
            <div class="bar">
                <div class="skills dviz"></div>
            </div>

            <p class="skill-title">Deep Learning</p>
            <div class="bar">
                <div class="skills dpl"></div>
            </div>
        </div>

    </div>

</div>



{% endblock content %}