{% extends "layout.html" %}
{% block content %}
<nav>
    <!-- <div class="name"><strong>Massimiliano Gargano</strong></div> -->
    <div class="about">
        <a href="/about">About</a>
    </div>
</nav>

<div class="container">
    <header class="avatar">
        <a href="/about" class="photo">
            <img src="{{ url_for('static', filename='img/me.jpg')}}" alt="This is me">
        </a>
        <!-- <span class="avatar-prompt">About me</span> -->

    </header>


    <main>
        <h2>Blog!</h2>

        <div class="blog-list">
            <ul>
                <li><a href="/TDD">Test-Driven Development: a gentle introduction</a></li>
            </ul>
            <ul>
                <li><a href="/keywrod_assignment_with_keybert">Keyword assignment with keyBERT</a></li>
            </ul>

        </div>

    </main>

    <!-- reading now -->

    <section class="readings">
        <div>
            <h3>My Readings</h3>
        </div>

        <div class="books">
            <a
                href="https://www.amazon.com/-/es/Ethem-Alpaydin/dp/0262043793/ref=sr_1_3?keywords=introduction+to+machine+learning+with+python&qid=1643378423&sprefix=introduction+to+machine+%2Caps%2C158&sr=8-3"><img
                    src="{{ url_for('static', filename='img/Introduction to Machine Learning.jpg') }}"></a>
            <a
                href="https://www.amazon.com/-/es/David-Spiegelhalter/dp/1541618513/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2D1NBETWXO73A&keywords=the+art+of+statistics&qid=1643378747&s=books&sprefix=the+art+of+statistic%2Cstripbooks-intl-ship%2C226&sr=1-1"><img
                    src="{{ url_for('static', filename='img/the_art_of_statistics.jpg') }}"></a>
            <a
                href="https://www.amazon.com/-/es/Peter-Bruce/dp/149207294X/ref=sr_1_1?crid=2ZJY91I9S4Y7G&keywords=practical+statistics+for+data+scientists&qid=1643378771&s=books&sprefix=practical%2Cstripbooks-intl-ship%2C289&sr=1-1"><img
                    src="{{ url_for('static', filename='img/Practical Statistics for Data Scientists.jpg') }}"></a>
            <a
                href="https://www.amazon.com/-/es/Nate-Silver/dp/0143125087/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1OLOUWUO0RBX&keywords=the+signal+and+the+noise&qid=1643378797&s=books&sprefix=the+signal+and+the+nois%2Cstripbooks-intl-ship%2C268&sr=1-1"><img
                    src="{{ url_for('static', filename='img/The signal and the noise.jpg') }}"></a>
            <a
                href="https://www.amazon.com/-/es/Wes-McKinney/dp/1491957662/ref=sxin_14_mbs_w_global_sims?cv_ct_cx=introduction+to+machine+learning+with+python&keywords=introduction+to+machine+learning+with+python&pd_rd_i=1491957662&pd_rd_r=895ede63-5a79-4e6a-95bd-6692934d0da6&pd_rd_w=xLb0j&pd_rd_wg=a6DVC&pf_rd_p=a0190b3f-b29d-43d7-bff3-2f22febed405&pf_rd_r=6R4KNV8FWRPBNJQJW0KX&qid=1643378547&sprefix=introduction+to+machine+%2Caps%2C158&sr=1-1-9e7645f9-2d19-4bff-863e-f6cdbe50f990"><img
                    src="{{ url_for('static', filename='img/Python for Data Analysis.jpg') }}"></a>
            <a
                href="https://www.amazon.com/-/es/Nassim-Nicholas-Taleb/dp/081297381X/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=36HTNTFHRN8YY&keywords=the+black+swan&qid=1643378585&s=books&sprefix=the+black+swa%2Cstripbooks-intl-ship%2C307&sr=1-1"><img
                    src="{{ url_for('static', filename='img/the_black_swan.jpg') }}"></a>
            <a
                href="https://www.amazon.com/-/es/dp/B00A2ZIZYQ/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=G3EZGHQRFAFU&keywords=antifragile&qid=1643378610&s=books&sprefix=antifragi%2Cstripbooks-intl-ship%2C227&sr=1-1"><img
                    src="{{ url_for('static', filename='img/antifragile.jpg') }}"></a>

        </div>

    </section>

</div>

{% endblock content %}